src/test
out/test
test
.vscode-test
.nyc_output
coverage
**/*.map
.gitignore
.gitattributes
**/.eslintrc.json
**/.editorconfig
**/*.txt
**/*.md
!README.md
!CHANGELOG.md
!LICENSE
!SETUP.md
!.env.example
node_modules
.vscode/
landing-page/
**/*.ts
!**/*.d.ts
tsconfig.json
.git
*.vsix
.env
